[submodule "planners/fdownward"]
	path = planners/fdownward
	url = https://github.com/aibasel/downward
[submodule "external/unified-planning"]
	path = external/unified-planning
	url = https://github.com/aiplan4eu/unified-planning.git
[submodule "external/up-pyperplan"]
	path = external/up-pyperplan
	url = https://github.com/aiplan4eu/up-pyperplan.git
[submodule "external/up-tamer"]
	path = external/up-tamer
	url = https://github.com/aiplan4eu/up-tamer.git
