<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

    {#  Code Mirror  #}

    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.css') }}">
    <script src="{{ url_for('static', filename='codemirror/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/commonlisp.js') }}"></script>

    <meta charset="UTF-8">
    <title>PDSim</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo center">PDSim</a>
    </div>
</nav>

{% if  data %}
    {% include "editor.html" %}
{% else %}
    <div>
        <h3 class="center-align">PDDL problem not initialized in Unity</h3>
    </div>

{% endif %}
</body>
</html>